@import '../SCSS/index.scss';

.MapContainer {
  //@include customLayout(space-evenly, center, row);
  //flex-wrap: wrap;
  border: 2px solid blue;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  //height: 70vh;
}

.location {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 2px;
  background: #1d1d1d;
}
